/********************** TEXTAREA TEXT AREA **********************/

.form__area {
  display: block;
  width: 100%;
  height: 120px;
  padding-top: 12px;
  padding-left: 16px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
}

.form__area:focus {
  outline-color: var(--brand-color);
}

.form__area::placeholder {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

/* TEXTAREA TEXT AREA */
