/********************** our team sec 4 **********************/

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .team {
    display: flex;
    flex-wrap: wrap;
  }

  .team__item {
    width: 354px;
    margin-right: 30px;
    flex-grow: 1;

    &:nth-child(2n) {
      margin-right: 0;
    }

    &:nth-last-child(-n + 2) {
      margin-bottom: 0;
    }
  }
}

@media screen and (min-width: 1200px) {
  .team {
    display: flex;
  }

  // .section--other-background {
  //   flex-direction: column;
  //   display: flex;
  // }

  .team__item {
    margin-right: 30px;
    width: 354px;
  }

  .team__item:last-child {
    margin-right: 0;
  }
}

.section--other-background {
  background: var(--sec-backgtound-color);
}

// .section__title {
//   font-family: "Roboto";
//   font-style: normal;
//   font-weight: 700;
//   font-size: 28px;
//   line-height: 1.17;
//   text-align: center;
//   letter-spacing: 0.03em;
//   color: #212121;

// }

.section__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-color);

  @media screen and (max-width: 1199px) {
    font-size: 28px;
    margin-bottom: 30px;
  }

  @media screen and (min-width: 1200px) {
    font-size: 28px;
    margin-bottom: 50px;
  }
}

.team__item {
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  background: var(--fff-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  @media screen and (max-width: 767px) {
    &:last-child {
      margin: 0;
    }
  }

  @media screen and (max-width: 1199px) {
    margin-bottom: 30px;
  }
}

.team__box {
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
}

.team__title {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--title-color);
}

.team__description {
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--descript-color);
}

.social {
  display: flex;
  justify-content: center;
  margin-top: 16px;
}

.social__item + .social__item {
  margin-left: 10px;
}

.social__link {
  width: 44px;
  height: 44px;
  background-color: var(--fff-color);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social__link:hover,
.social__link:focus {
  background-color: var(--brand-color);
}

.social__icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: var(--fill-icon);
}

.social__link:hover .social__icon {
  fill: var(--fff-color);
}

.social__link:focus .social__icon {
  fill: var(--fff-color);
}
