:root {
    --brand-color: #2196f3;
    --title-color: #212121;
    --descript-color: #757575;
    --backgtound-color: #2f303a;
    --sec-backgtound-color: #f5f4fa;
    --fff-color: #ffffff;
    --link-hover: #188ce8;
    --amogus-color: #000000;
    --header-bgrcolor: #ececec;
    --border-box: #eeeeee;
    --fill-icon: #afb1b8;
    --font-family: "Raleway", sans-serif;
  }